{
  "componentInstanceInputsMap": {},
  "componentInstanceProperties": {
    "{{ component.unique_id }}": [
      {
        "constraints": null,
        "defaultValue": null,
        "description": "The depending service invariant uuid in order to map the allotted resource to the specific service version",
        "name": "{{ property.name }}",
        "origName": "{{ property.name }}",
        "parentUniqueId": null,
        "password": false,
        "required": true,
        "schema": {
          "property": {}
        },
        "schemaType": null,
        "type": "{{ property.property_type }}",
        "uniqueId": "{{ component.actual_component_uid }}.{{ property.name }}",
        "value": null,
        "definition": false,
        "getInputValues": null,
        "parentPropertyType": null,
        "subPropertyInputPath": null,
        "getPolicyValues": null,
        "inputPath": null,
        "metadata": null
      }
    ]
  },
  "groupProperties": {},
  "policyProperties": {}
}