{
    "artifacts": {},
    "attributes": [],
    "capabilities": {},
    {% include "sdc_resource_category.json.j2" %},
    "componentInstances": [],
    "componentInstancesAttributes": {},
    "componentInstancesProperties": {},
    "componentType": "RESOURCE",
    "contactId": "cs0008",
    {% if vsp is not none %}
    "csarUUID": "{{ vsp.csar_uuid }}",
    "csarVersion": "1.0",
    "vendorName": "{{ vsp.vendor.name }}",
    {% else %}
    "vendorName": "{{ vendor.name }}",
    {% endif %}
    "deploymentArtifacts": {},
    "description": "PNF",
    "icon": "defaulticon",
    "name": "{{ name }}",
    "properties": [],
    "groups": [],
    "requirements": {},
    "resourceType": "PNF",
    "tags": ["{{ name }}"],
    "toscaArtifacts": {},
    "vendorRelease": "1.0"
}
