[
    {
        "name":"{{ property.name }}",
        "parentUniqueId":"{{ component.actual_component_uid }}",
        "type":"{{ property.property_type }}",
        "uniqueId":"{{ component.actual_component_uid }}.{{ property.name }}",
        "value":"{{ value }}",
        "definition":false,
        "toscaPresentation":{
            "ownerId":"{{ component.actual_component_uid }}"
        }
    }
]