[
    {
        "defaultValue":"{{ default_value }}",
        "name":"{{ input.name }}",
        {# "parentUniqueId":"74f79006-ae56-4d58-947e-6a5089000774", #}
        "type":"{{ input.input_type }}",
        "uniqueId":"{{ input.unique_id }}"
    }
]