{
    "resourceType": "{{ resource_data['resourceType'] }}",
    "componentType": "{{ resource_data['componentType'] }}",
    "tags": {{ resource_data['tags'] | tojson }},
    "icon": "{{ resource_data['icon'] }}",
    "uniqueId": "{{ resource_data['uniqueId'] }}",
    "uuid": "{{ resource_data['uuid'] }}",
    "invariantUUID": "{{ resource_data['invariantUUID'] }}",
    "contactId": "{{ resource_data['contactId'] }}",
    "categories": {{ resource_data['categories'] | tojson }},
    "creatorUserId": "{{ resource_data['creatorUserId'] }}",
    "creationDate": {{ resource_data['creationDate'] }},
    "creatorFullName": "{{ resource_data['creatorFullName'] }}",
    "description": "{{ resource_data['description'] }}",
    "lastUpdateDate": {{ resource_data['lastUpdateDate'] }},
    "lastUpdaterUserId": "{{ resource_data['lastUpdaterUserId'] }}",
    "lastUpdaterFullName": "{{ resource_data['lastUpdaterFullName'] }}",
    "lifecycleState": "{{ resource_data['lifecycleState'] }}",
    "name": "{{ resource_data['name'] }}",
    "version": "{{ resource_data['version'] }}",
    "allVersions": {{ resource_data['allVersions'] | tojson }},
    "vendorName": "{{ resource_data['vendorName'] }}",
    "vendorRelease": "{{ resource_data['vendorRelease'] }}",
    "normalizedName": "{{ resource_data['normalizedName'] }}",
    "systemName": "{{ resource_data['systemName'] }}",
    "archived": {{ resource_data['archived'] | tojson }},
    "componentMetadata": {
        "resourceType": "{{ resource_data['resourceType'] }}",
        "componentType": "{{ resource_data['componentType'] }}",
        "tags": {{ resource_data['tags'] | tojson }},
        "icon": "{{ resource_data['icon'] }}",
        "uniqueId": "{{ resource_data['uniqueId'] }}",
        "uuid": "{{ resource_data['uuid'] }}",
        "invariantUUID": "{{ resource_data['invariantUUID'] }}",
        "contactId": "{{ resource_data['contactId'] }}",
        "categories": {{ resource_data['categories'] | tojson }},
        "creatorUserId": "{{ resource_data['creatorUserId'] }}",
        "creationDate": {{ resource_data['creationDate'] }},
        "creatorFullName": "{{ resource_data['creatorFullName'] }}",
        "description": "{{ resource_data['description'] }}",
        "lastUpdateDate": {{ resource_data['lastUpdateDate'] }},
        "lastUpdaterUserId": "{{ resource_data['lastUpdaterUserId'] }}",
        "lastUpdaterFullName": "{{ resource_data['lastUpdaterFullName'] }}",
        "lifecycleState": "{{ resource_data['lifecycleState'] }}",
        "name": "{{ resource_data['name'] }}",
        "version": "{{ resource_data['version'] }}",
        "allVersions": {{ resource_data['allVersions'] | tojson }},
        "vendorName": "{{ resource_data['vendorName'] }}",
        "vendorRelease": "{{ resource_data['vendorRelease'] }}",
        "normalizedName": "{{ resource_data['normalizedName'] }}",
        "systemName": "{{ resource_data['systemName'] }}",
        "csarUUID": "{{ resource_data['csarUUID'] }}",
        "csarVersion": "{{ resource_data['csarVersion'] }}",
        "derivedFrom": null,
        "resourceVendorModelNumber": "{{ resource_data['resourceVendorModelNumber'] }}"
    },
    "csarUUID": "{{ csarUUID }}",
    "csarVersion": "{{ csarVersion }}",
    "derivedFrom": null,
    "resourceVendorModelNumber": "{{ resource_data['resourceVendorModelNumber'] }}"
}