{
  "name": "{{ name }}",
  "description": "vendor software product",
  "icon": "icon",
  "category": "resourceNewCategory.generic",
  "subCategory": "resourceNewCategory.generic.abstract",
  "vendorName": "{{ vendor.name }}",
  "vendorId": "{{ vendor.identifier }}",
  "licensingData": {},
  "onboardingMethod": "NetworkPackage"
}
