{
  "artifactGroupType": "DEPLOYMENT",
  "artifactName": "{{artifact_name}}",
  "artifactLabel": "{{artifact_label}}",
  "artifactType": "{{artifact_type}}",
  "description": "test",
  "payloadData": "{{b64_artifact}}",
  "heatParameters": []
}
