{
    "related-to": "{{ relationship.related_to }}",
    "related-link": "{{ relationship.related_link }}",
    "relationship-label": "{{ relationship.relationship_label }}",
    "relationship-data": {{ relationship.relationship_data | tojson }}
}