{
    "physical-location-id": "{{ complex.physical_location_id }}",
    "data-center-code": "{{ complex.data_center_code }}",
    "complex-name": "{{ complex.name }}",
    "identity-url": "{{ complex.identity_url }}",
    "resource-version": "{{ complex.resource_version }}",
    "physical-location-type": "{{ complex.physical_location_type }}",
    "street1": "{{ complex.street1 }}",
    "street2": "{{ complex.street2 }}",
    "city": "{{ complex.city }}",
    "state": "{{ complex.state }}",
    "postal-code": "{{ complex.postal_code }}",
    "country": "{{ complex.country }}",
    "region": "{{ complex.region }}",
    "latitude": "{{ complex.latitude }}",
    "longitude": "{{ complex.longitude }}",
    "elevation": "{{ complex.elevation }}",
    "lata": "{{ complex.lata }}"
}