{
    "type": "source-rest",
    "properties": {
        "verb": "<< FILL >>",
        "type": "<< FILL >>",
        "url-path": "<< FILL >>",
        "path": "<< FILL >>",
        "payload": "<< FILL >>",
        "input-key-mapping": {},
        "output-key-mapping": {},
        "key-dependencies": []
    }
}