{
    "requestDetails": {
        "requestInfo": {
            "suppressRollback": false,
            {% if aai_service %}
            "productFamilyId":"{{ aai_service.service_id }}",
            {% else %}
            "productFamilyId": "1234",
            {% endif %}
            "requestorId": "demo",
            "instanceName": "{{ service_instance_name }}",
            "source": "VID"
        },
        "modelInfo": {
            "modelType": "service",
			"modelInvariantId": "{{ sdc_service.unique_uuid }}",
			"modelVersionId": "{{ sdc_service.identifier }}",
			"modelName": "{{ sdc_service.name }}",
            "modelVersion": "1.0"
        },
        {% if sdc_service.vnfs %}
        "cloudConfiguration": {
            "tenantId": "{{ tenant.tenant_id }}",
            "cloudOwner": "{{ cloud_region.cloud_owner }}",
            "lcpCloudRegionId": "{{ cloud_region.cloud_region_id }}"
        },
        {% endif %}
        "subscriberInfo": {
            "globalSubscriberId": "{{ customer.global_customer_id }}"
        },
        "requestParameters": {
            "subscriptionServiceType": "{{ sdc_service.name }}",
            "userParams": [
                {
                    "Homing_Solution": "none"
                },
                {% if enable_multicloud %}
                {
                    "name":"orchestrator",
                    "value":"multicloud"
                },
                {% endif %}
                {
                    "service": {
                        "instanceParams": [],
                        "instanceName": "{{ service_instance_name }}",
                        "resources": {
                            {% if sdc_service.pnfs %}
                            "pnfs":[
                                {% for sdc_component in sdc_service.components  %}
                                {% if sdc_component.origin_type == 'PNF' %}
                                {
                                    "modelInfo":{
                                        "modelCustomizationName":"{{ sdc_component.name }}",
                                        "modelCustomizationId":"{{ sdc_component.customization_uuid }}",
                                        "modelInvariantId":"{{ sdc_service.unique_uuid }}",
                                        "modelVersionId":"{{ sdc_service.identifier }}",
                                        "modelName":"{{ sdc_service.name }}",
                                        "modelType":"pnf",
                                        "modelVersion":"1.0"
                                    },
                                    "platform":{
                                        "platformName":"{{ platform.name }}"
                                    },
                                    "lineOfBusiness":{
                                        "lineOfBusinessName":"{{ line_of_business.name }}"
                                    },
                                    "productFamilyId":"{{ aai_service.service_id }}",
                                    "instanceParams":[],
                                    "instanceName":"{{ service_instance_name }}"
                                }{% if not loop.last %},{% endif %}
                                {% endif %}
                                {% endfor %}
                            ]
                                {% if sdc_service.vnfs %},{% endif %}
                            {% endif %}
                            {% if sdc_service.vnfs %}
                            "vnfs": [
                                {% for vnf in sdc_service.vnfs %}
                                {
                                    "modelInfo": {
                                        "modelName": "{{ vnf.metadata["name"] }}",
                                        "modelVersionId": "{{ vnf.metadata["UUID"] }}",
                                        "modelInvariantUuid": "{{ vnf.metadata["invariantUUID"] }}",
                                        "modelVersion": "{{ vnf.metadata["version"] }}",
                                        "modelCustomizationId": "{{ vnf.metadata["customizationUUID"] }}",
                                        "modelInstanceName": "{{ vnf.metadata["name"] }}"
                                    },
                                    "cloudConfiguration": {
                                        "tenantId": "{{ tenant.tenant_id }}",
                                        "cloudOwner": "{{ cloud_region.cloud_owner }}",
                                        "lcpCloudRegionId": "{{ cloud_region.cloud_region_id }}"
                                    },
                                    "platform": {
                                        "platformName": "{{ platform.name }}"
                                    },
                                    "lineOfBusiness": {
                                        "lineOfBusinessName": "{{ line_of_business.name }}"
                                    },
                                    "productFamilyId": "1234",
                                    "instanceName": "{{ vnf.metadata["name"] }}",
                                    "instanceParams": [
                                        {
                                            {% for vnf_parameter in vnf_parameters %}
                                            {% if vnf_parameter.name == vnf.metadata["name"] %}
                                            {% for parameter in vnf_parameter.vnf_parameters %}
                                            "{{ parameter.name }}": "{{ parameter.value }}"{% if not loop.last %},{% endif %}
                                            {% endfor %}
                                            {% endif %}
                                            {% endfor %}
                                        }
                                    ],
                                    "vfModules": [
                                        {% for vf_module in vnf.vf_modules %}
                                        {
                                            "modelInfo": {
                                                "modelName": "{{ vf_module.metadata["vfModuleModelName"] }}",
                                                "modelVersionId": "{{ vf_module.metadata["vfModuleModelUUID"] }}",
                                                "modelInvariantUuid": "{{ vf_module.metadata["vfModuleModelInvariantUUID"] }}",
                                                "modelVersion": "{{ vf_module.metadata["vfModuleModelVersion"] }}",
                                                "modelCustomizationId": "{{ vf_module.metadata["vfModuleModelCustomizationUUID"] }}"
                                            },
                                            "instanceName": "{{ service_name }}_{{ vf_module.name }}",
                                            "instanceParams": [
                                                {
                                                    {% for vnf_parameter in vnf_parameters %}
                                                    {% if vnf_parameter.name == vnf.metadata["name"] %}
                                                    {% set mylist = vf_module.name.split('..') %}
                                                    {% set item = mylist|length-2 %}
                                                    {% for vf_module_parameter in vnf_parameter.vfmodule_parameters %}
                                                    {% if vf_module_parameter.name == mylist[item] %}
                                                    {% for parameter in vf_module_parameter.vfmodule_parameters %}
                                                    "{{ parameter.name }}": "{{ parameter.value }}"{% if not loop.last %},{% endif %}
                                                    {% endfor %}
                                                    {% endif %}
                                                    {% endfor %}
                                                    {% endif %}
                                                    {% endfor %}
                                                }
                                            ]
                                        }{% if not loop.last %},{% endif %}
                                        {% endfor %}
                                    ]
                                }{% if not loop.last %},{% endif %}
                                {% endfor %}
                            ]
                            {% endif %}
                        },
                        "modelInfo": {
                            "modelVersion": "1.0",
                            "modelVersionId": "{{ sdc_service.identifier }}",
                            "modelInvariantId": "{{ sdc_service.unique_uuid }}",
                            "modelName": "{{ sdc_service.name }}",
                            "modelType": "service"
                        }
                    }
                }
            ],
            "aLaCarte": false
        },
        "project": {
            "projectName": "{{ project.name }}"
        },
        "owningEntity": {
            "owningEntityId": "{{ owning_entity.owning_entity_id }}",
            "owningEntityName": "{{ owning_entity.name }}"
        }
    }
}
