{ "modelInfo": {
    "modelName": "{{ service_model_name }}",
    "modelVersion": "{{ service_model_version }}",
    "modelVersionId": "{{ service_model_version_id }}",
    "modelInvariantId": "{{ service_model_invariant_id }}",
    "modelType": "{{ service_model_customization_type }}"

}}
