
{
  "componentType": "SERVICE",
  "properties": [],
  "requirements": {},
  "toscaArtifacts": {},
  "tags": ["{{ name }}"],
  "artifacts": {},
  "description": "service",
  "serviceApiArtifacts": {},
  "capabilities": {},
  "name": "{{ name }}",
  "componentInstancesProperties": {},
  "componentInstancesAttributes": {},
  "contactId": "cs0008",
  "groups": [],
  "projectCode": "123456",
  "deploymentArtifacts": {},
  "attributes": [],
  "componentInstances": [],
  "ecompGeneratedNaming": true,
  "instantiationType": "A-la-carte",
  "environmentContext": "General_Revenue-Bearing",
  "categories": [
    {
      "normalizedName": "network service",
      "name": "Network Service",
      "uniqueId": "serviceNewCategory.network service",
      "subcategories": null,
      "version": null,
      "ownerId": null,
      "empty": false,
      "type": null,
      "icons": ["network_l_1-3"]
    }
  ],
  "icon": "network_l_1-3"
}
