{
    "modelType": "service",
    "modelInvariantId": "{{ model_invariant_id }}",
    "modelName": "{{ model_name }}",
    "modelVersion": "{{ model_version }}",
    "modelVersionId": "{{ model_name_version_id }}"
}
