
{
  "componentType": "SERVICE",
  "properties": [],
  "requirements": {},
  "toscaArtifacts": {},
  "tags": ["{{ name }}"],
  "artifacts": {},
  "description": "service",
  "serviceApiArtifacts": {},
  "capabilities": {},
  "name": "{{ name }}",
  "componentInstancesProperties": {},
  "componentInstancesAttributes": {},
  "contactId": "cs0008",
  "groups": [],
  "projectCode": "123456",
  "deploymentArtifacts": {},
  "attributes": [],
  "componentInstances": [],
  "ecompGeneratedNaming": true,
  "instantiationType": "{{ instantiation_type }}",
  "environmentContext": "General_Revenue-Bearing",
  {% include "sdc_resource_category.json.j2" %},
  "icon": "network_l_1-3"
}
