{
    "artifacts": {},
    "attributes": [],
    "capabilities": {},
    "categories":[
        {
            "name": "Generic",
            "normalizedName": "generic",
            "uniqueId": "resourceNewCategory.generic",
            "icons": null,
            "subcategories":[
                {
                    "name": "Abstract",
                    "normalizedName": "abstract",
                    "uniqueId": "resourceNewCategory.generic.abstract",
                    "icons":[
                        "objectStorage",
                        "compute"
                    ],
                    "groupings": null,
                    "ownerId": null,
                    "empty": false
                }
            ],
            "ownerId": null,
            "empty": false
        }
    ],
    "componentInstances": [],
    "componentInstancesAttributes": {},
    "componentInstancesProperties": {},
    "componentType": "RESOURCE",
    "contactId": "cs0008",
    "csarUUID": "{{ vsp.csar_uuid }}",
    "csarVersion": "1.0",
    "deploymentArtifacts": {},
    "description": "VF",
    "icon": "defaulticon",
    "name": "{{ name }}",
    "properties": [],
    "groups": [],
    "requirements": {},
    "resourceType": "VF",
    "tags": ["{{ name }}"],
    "toscaArtifacts": {},
    "vendorName": "{{ vsp.vendor.name }}",
    "vendorRelease": "1.0"
}
