[
{% for _, module in modules.items() %}
    {
        "modelInfo": {
            "modelName": "{{ module["metadata"]["vfModuleModelName"] }}",
            "modelVersion": "{{ module.metadata.vfModuleModelVersion }}",
            "modelVersionId": "{{ module.metadata.vfModuleModelUUID }}",
            "modelInvariantUuid": "{{ module.metadata.vfModuleInvariantUUID }}",
            "modelCustomizationId": "{{ module.metadata.vfModuleModelCustomizationUUID }}"
        },
        "instanceName": "{{ module.metadata.vfModuleModelName }}",
        "instanceParams": []
    }{% if not loop.last %},{% endif %}
{% endfor %}
]