{
    "rb-name": "{{ rb_name }}",
    "rb-version": "{{ rb_version }}",
    "profile-name": "{{ profile_name }}",
    "release-name": "{{ release_name }}",
    "namespace": "{{ namespace }}",
    "kubernetes-version": "{{ kubernetes_version }}"
}