{
    "cloud-owner": "{{ cloud_region.cloud_owner }}",
    "cloud-region-id": "{{ cloud_region.cloud_region_id }}",
    "orchestration-disabled": "{{ cloud_region.orchestration_disabled }}",
    "in-maint": "{{ cloud_region.in_maint }}",
    "cloud-type": "{{ cloud_region.cloud_type }}",
    "owner-defined-type": "{{ cloud_region.owner_defined_type }}",
    "cloud-region-version": "{{ cloud_region.cloud_region_version }}",
    "identity-url": "{{ cloud_region.identity_url }}",
    "cloud-zone": "{{ cloud_region.cloud_zone }}",
    "complex-name": "{{ cloud_region.complex_name }}",
    "sriov-automation": "{{ cloud_region.sriov_automation }}",
    "cloud-extra-info": "{{ cloud_region.cloud_extra_info }}",
    "upgrade-cycle": "{{ cloud_region.upgrade_cycle }}",
    "resource-version": "{{ cloud_region.resource_version }}"
}