{
    "global-customer-id": "{{ global_customer_id }}",
    "subscriber-name": "{{ subscriber_name }}",
    "subscriber-type": "{{ subscriber_type }}"{% if service_subscriptions %},
    "service-subscriptions": {
        "service-subscription": [
        {% for service_subscription in service_subscriptions %}
        {
                "service-type": "{{ service_subscription }}"
        }{% if not loop.last %},{% endif %}
        {% endfor %}
        ]
    }
    {% endif %}
}