{
	"requestDetails": {
		"requestInfo": {
			"source": "VID",
			"requestorId": "demo"
		},
		"modelInfo": {
            "modelType": "service",
            "modelName": "{{ service_instance.sdc_service.name }}",
            "modelInvariantId": "{{ service_instance.sdc_service.unique_uuid }}",
            "modelVersion": "1.0",
            "modelVersionId": "{{ service_instance.sdc_service.identifier }}"
		},
		"requestParameters": {
			"testApi": "GR_API",
			"aLaCarte": {{ a_la_carte | tojson }}
		}{% if service_instance.sdc_service.has_vnfs %},
		{# the code below is needed to be refactored #}
		{# https://gitlab.com/Orange-OpenSource/lfn/onap/python-onapsdk/-/issues/133 #}
        "cloudConfiguration": {
            "cloudOwner": "{{ service_instance.service_subscription.cloud_region.cloud_owner }}",
            "lcpCloudRegionId": "{{ service_instance.service_subscription.cloud_region.cloud_region_id }}",
            "tenantId": "{{ service_instance.service_subscription.tenant.tenant_id }}"
        }{% endif %}
	}
}