{% extends "instantiate_network_vnf_ala_carte_base.json.j2" %}
{% block model_info %}
    "modelType": "vnf",
    "modelInvariantId": "{{ vnf.metadata["invariantUUID"] }}",
    "modelVersionId": "{{ vnf.metadata["UUID"] }}",
    "modelName": "{{ vnf.metadata["name"] }}",
    "modelVersion": "{{ vnf.metadata["version"] }}",
    "modelCustomizationId": "{{ vnf.metadata["customizationUUID"] }}",
    "modelCustomizationName": "{{ vnf.name }}"
{% endblock %}
{% block user_params %}
{% for parameter in vnf_parameters %}
{
    "name": "{{ parameter.name }}",
    "value": "{{ parameter.value }}"
}{% if not loop.last %},{% endif %}
{% endfor %}
{% endblock %}