{% extends "instantiate_network_vnf_ala_carte_base.json.j2" %}
{% block model_info %}
    "modelType": "vnf",
    "modelInvariantId": "{{ vnf.metadata["invariantUUID"] }}",
    "modelVersionId": "{{ vnf.metadata["UUID"] }}",
    "modelName": "{{ vnf.metadata["name"] }}",
    "modelVersion": "{{ vnf.metadata["version"] }}",
    "modelCustomizationId": "{{ vnf.metadata["customizationUUID"] }}",
    "modelCustomizationName": "{{ vnf.name }}"
{% endblock %}