{
    "modelType": "vnf",
    "modelName": "{{ vnf_model_name }}",
    "modelVersion": "{{ vnf_model_version }}",
    "modelVersionId": "{{ vnf_model_version_id }}",
    "modelInvariantUuid": "{{ vnf_model_invariant_uuid }}",
    "modelCustomizationId": "{{ vnf_model_customization_id }}",
    "modelInstanceName": "{{ vnf_model_instance_name }}"
}
